<!DOCTYPE html>
<html>
    <head>
        <title>ProgressiveOverload Register</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body> 
        <nav class="nav_bar">
            <a href="/about"><img src="{{ url_for('static', filename='ProgresiveOverloadLogo.png') }}" alt="ProgressiveOverloadLogo"></a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </nav> 
        
        <div class="register-form">
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="confirmation_password" placeholder="Confirm Password">
                <button type="submit">Register</button>
                {% if register_error %}
                <p> {{ register_error }}</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>